"!HELP" riscosfiletype=fff
"!RUN" riscosfiletype=feb
"!SPRITES" riscosfiletype=ffd
"!TODO" riscosfiletype=fff
"ARGS" riscosfiletype=fff
"ASSERT" riscosfiletype=fff
"bench/bench" riscosfiletype=fff
"bench/fib" riscosfiletype=fff
"bench/matrix" riscosfiletype=fff
"bench/notes" riscosfiletype=fff
"bench/sieve" riscosfiletype=fff
"BUILD" riscosfiletype=fff
"CLASS" riscosfiletype=fff
"CLASSDEB" riscosfiletype=fff
"COLOURS" riscosfiletype=fff
"comments" riscosfiletype=fff
"config" riscosfiletype=fff
"console/lines" riscosfiletype=fff
"CONTROLS" riscosfiletype=fff
"DEBUG" riscosfiletype=fff
"DESIGNNO" riscosfiletype=fff
"DISARM" riscosfiletype=fff
"DTHREAD" riscosfiletype=fff
"DUMP" riscosfiletype=fff
"EXTEND" riscosfiletype=fff
"FCONS" riscosfiletype=ff8
"FKERNEL" riscosfiletype=fff
"FORGET" riscosfiletype=fff
"FWIN" riscosfiletype=ff8
"ICONS" riscosfiletype=fff
"INTERPIF" riscosfiletype=fff
"kernel" riscosfiletype=ff8
"MAKECONS" riscosfiletype=fff
"makeconsole" riscosfiletype=fff
"MAKEWIN" riscosfiletype=fff
"matrix" riscosfiletype=fff
"MENUS" riscosfiletype=fff
"META" riscosfiletype=fff
"METHHASH" riscosfiletype=fff
"Notes" riscosfiletype=fff
"oldcaret" riscosfiletype=fff
"ORDER" riscosfiletype=fff
"OS" riscosfiletype=fff
"PASM" riscosfiletype=fff
"PRIMHASH" riscosfiletype=fff
"PRIMUTIL" riscosfiletype=fff
"README.md" riscosfiletype=fff
"SEE" riscosfiletype=fff
"SetTypes" riscosfiletype=fff
"sieve" riscosfiletype=fff
"SSORT" riscosfiletype=fff
"step1.jpeg" riscosfiletype=c85
"step2.jpeg" riscosfiletype=c85
"UTIL2" riscosfiletype=fff
"UTILS" riscosfiletype=fff
"wf.zip" riscosfiletype=a91
"WimpForth.jpg" riscosfiletype=c85
"WINDOWS" riscosfiletype=fff
"WINSEE" riscosfiletype=fff
"WORDS" riscosfiletype=fff
"XTEND" riscosfiletype=fff
